<!--
  Pendente:
    - Tema Escuro
    - Botão PT-EN
    - Utilizar mais as ferramentas do Angular
-->
<div class="w3-container w3-padding-16">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom w3-theme-d1" >
      <div class="w3-center">
        <!--<img src="img_avatar4.png" alt="Avatar" style="width:30%" class="w3-circle w3-margin-top">-->
      </div>
      <form class="w3-container">
        <div class="w3-section">
          <label><b>Usuário/Username</b></label>
          <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter Username" name="usrname" required>
          <label><b>Senha/Password</b></label>
          <input class="w3-input w3-border" type="password" placeholder="Enter Password" name="psw" required>
          <button class="w3-button w3-block w3-theme-d5 w3-section w3-padding" type="submit">Login</button>
        </div>
      </form>
    </div>
</div>
